<!-- User Data Form -->
<mat-card class="full-width">
    <mat-card-title>Form</mat-card-title>
    <mat-card-content>
        <div class="form-container">
            <form [formGroup]="userDataFormGroup">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>name</mat-label>
                    <input matInput placeholder="ex. Maria" formControlName="name">
                </mat-form-field>
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Favorite Number</mat-label>
                    <input placeholder="ex. 9" matInput formControlName="favNum">
                </mat-form-field>
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Favorite Color</mat-label>
                    <input placeholder="ex. blue" matInput formControlName="favColor">
                </mat-form-field>
            </form>
            <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
        </div>
    </mat-card-content>
</mat-card>
<br><!-- Search box -->
<mat-card class="full-width">
    <mat-card-content>
        <div class="search-container">
            <button mat-mini-fab color="accent" (click)="searchUser()">
                <mat-icon>search</mat-icon>
            </button>
            <mat-form-field>
                <mat-label>Search by Name</mat-label>
                <input matInput placeholder="Ex. Alex" [formControl]="searchControl">
            </mat-form-field>
        </div>
    </mat-card-content>
  </mat-card>

<div *ngIf="selectedProfile">
    <p>Name: {{ selectedProfile.name }}</p>
    <p>Favorite Number: {{ selectedProfile.favNumber }}</p>
    <p>Favorite Color: {{ selectedProfile.favColor }}</p>
</div>
<ng-content></ng-content>

