.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

.full-width {
  width: 100%;
}

.search-container {
  display: flex;
  align-items: center; /* Aligns items vertically in the center */
  gap: 10px; /* Adjust the space between the items */
}